body {
  color:#2F2F2F;
  background:#E8E8E8;
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 10px;
  margin-bottom: 20px;
  background: #B8B8B8;
  padding: 10px 20px;
}

h1 {
  font-family: 'Open Sans';
  text-align: center;
  color:#2F2F2F;
}

#datatable {
  align-self: center;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background: #B8B8B8;
  padding: 10px 20px;
}

td {
  font-family: 'Open Sans';
  color:#2F2F2F;
  margin: 0px 0px;
  padding: 10px 20px;
}

td#idcell:hover {
  border-left: solid 3px #08889B;
}

tr {
  border-bottom: 1px solid #2F2F2F;
  margin: 10px
}

input {
  font-family: 'Open Sans';
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-family: 'Open Sans';
  display: inline-block;
  color:#2F2F2F;
  font-size: 15px;
}

.form-header {
  font-family: 'Open Sans';
  margin-left: 0px;
  color:#2F2F2F;
  font-size: 25px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form-container {
  text-align: left;
  display: flex;
  flex-direction: column;
}